
:root{
    --h-title-color:#1F4771;
}

.header#mainNav {
  background-color: rgba(29,62,102,0.97);
  backdrop-filter: blur(2px);
  border-bottom: 6px solid var(--h-title-color);
  z-index: 10000;
}

#mainNav .navbar-brand,
#mainNav .nav-link {
    color: #B8B8B8 !important;
}

#mainNav .nav-link:hover,
#mainNav .nav-link:focus {
    color: #FCD186  !important; 
}

#mainNav .nav-link.active {
  color: #FCD186 !important;
}

#mainNav #page-top-title{
  font-size: 1.6rem !important;
  font-family: "Cormorant", Georgia, serif !important;
  font-weight: 700 !important;
  color: white !important;
  
  display: inline-block;
  min-width: 6ch;
  line-height: 1.2;
}

.bg-bottom {
    background-color: var(--h-title-color);
}

.top-section {
    position: relative;
    padding: 10rem 0;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.top-section h2 {
    font-weight: 400;
}

.top-section .top-section-content {
    position: relative;
    z-index: 1;
}

.top-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

section header h2{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    color: var(--h-title-color) ;
    font-size: 2.3rem;
    line-height: 4rem;
}

section .main-body{
    font-family: Georgia, serif;
    color: #30343B;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 2.4rem;
}

.main-body strong {
    font-weight: 600;
}

.bg-gradient-primary-to-secondary-light {
    background: linear-gradient(45deg, #fcfcfc, #ffffff) !important;
}

.bg-gradient-primary-to-secondary-gray {
    background: linear-gradient(45deg, #f0f0f0, #f1f1f1) !important;
}

.on-top {
    position: relative;
    z-index: 10000;
}

.top-bg {
    background-position: center;
    background-size: fill;
    width: 100%;
    height: 100%;
}

.top-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}


#avatar {
    position: relative;
    height: 0;
    top:min(-65px,max(-100px,calc(-1*100vw/12)));
    max-width: 55em;
    margin: 0 1.5rem 0 0;
    float: right;
    z-index: 9000;
}

#avatar img {
    height: max(130px,min(200px,calc(100vw/6)));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 5px solid var(--h-title-color);
}

@media screen and (max-width: 991px) {
    #avatar {
        margin: 0;
    }
}


